@model SpeculatorVersionOne.ViewModels.TroskoviViewModel
@{
    ViewData["Title"] = "Index";
    var message = ViewBag.UspesnoPoruka;
}

    <script type="text/javascript">
    var message = '@message';
    if(message){
        alert(message);
    }
    </script>

    <main class="container-fluid">      
        <div class="pocetna-sadrzaj">
            <div class="row">
                
                <div class="col-3">
                            <div class="trosak-novi-container bg-light">
                                <div class="trosak-novi-header">
                                    <h4 class="text-dark text-center mt-3">Novi trošak</h4>
                                </div>

                                <form method="post" asp-action="Create">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="text-center">
                                            <div class="row">
                                                <div class="col-auto ml-3">
                                                    <label class="sr-only" for="inlineFormInputGroup"></label>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">Aa</div>
                                                        </div>
                                                        <input asp-for="trosak.NazivTroska" class="form-control" id="inlineFormInputGroup" value="@string.Empty">
                                                        <span asp-validation-for="trosak.NazivTroska" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-auto ml-3">
                                                    <label class="sr-only" for="inlineFormInputGroup"></label>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">$</div>
                                                        </div>
                                                        <input asp-for="trosak.IznosTroska" class="form-control" id="inlineFormInputGroup">
                                                        <span asp-validation-for="trosak.IznosTroska" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>    
                                            <div class="row">
                                                <div class="col-auto ml-3">
                                                    <button type="submit" class="btn btn-primary mb-2">Dodaj</button>
                                                </div>
                                            </div>    
                                        </div>
                                    </form>



                                

                            </div>
                </div>

                <div class="col-6">
                    <div class="my-table-container bg-light">
                        <div class="row my-table-header">
                            <div class="col">
                                <h4 class="text-dark text-center mt-1">Troškovi</h4>
                            </div>
                        </div>
                        @if (Model.troskovi.Count > 0)
                        {
                            <div class="my-table">
                                <table class="table table-hover table-dark m-auto">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">ID</th>
                                            <th scope="col">Naziv</th>
                                            <th scope="col">Iznos</th>
                                            <th scope="col">Vreme</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.troskovi)
                                        {
                                            <tr>
                                                <th scope="row"></th>
                                                <td class="text-primary font-weight-bold">
                                                    @Html.DisplayFor(modelItem => item.TrosakId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NazivTroska)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IznosTroska)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.VremeTroska)
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col text-right">
                                                            <form method="GET" asp-controller="Trosak" asp-action="Details" asp-route-id="@item.TrosakId">
                                                                <button type="submit" class="btn bg-warning text-light" title="Details"><i class="far fa-edit"></i></button>
                                                            </form>
                                                        </div>
                                                        <div class="col text-left">
                                                            <form method="POST" asp-controller="Trosak" asp-action="Delete" asp-route-id="@item.TrosakId">
                                                                <button type="submit" class="btn bg-warning text-light" title="Delete"><i class="far fa-trash-alt"></i></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                                </div>
                        }
                        else
                        {
                            <h3 class="text-danger mb-5 ml-3">Ne postoje troškovi za prikaz.</h3>
                        }
                        <button class="btn btn-primary text-light float-right mt-4 mr-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Ponovi trošak
                            </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card bg-light ml-3 card-body">
                            
                                    <form method="post" asp-action="CreateById">
                                        <div asp-validation-summary="All" class="text-danger"></div>

                                        <div class="form-row align-items-center">

                                            <div class="col-auto">
                                                <label class="sr-only" for="inlineFormInputGroup"></label>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">ID troška za ponavljanje</div>
                                                    </div>
                                                    <input asp-for="trosakId" class="form-control" id="inlineFormInputGroup" required>
                                                    <span asp-validation-for="trosakId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-primary mb-2">Dodaj</button>
                                            </div>
                                        </div>
                                    </form>


                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-3">
                            <div class="dodaj-brzo-container bg-light">
                                <div class="dodaj-brzo-header">
                                    <h4 class="text-dark text-center mt-3 ml-3">Uobičajeni troškovi</h4>
                                </div>
                                <div class="text-center">
                                    <a class="text-primary" style="cursor: pointer;">+ Dodaj novi</a>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </main>
